@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/normalize";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";
@import "singleStyles/scrollable";

@import "components/list";
@import "components/btn";
@import "components/card";
@import "components/form";
@import "components/footer";
// @import "components/nav";

@import "exo/exo";

@import "navbar/nav1";

@import "animations/index";
@import "animations/keyframes";


@import "../components/reusable/einsätze/card";
@import "../components/reusable/news/card";
@import "../components/reusable/termine/card";
@import "../components/screens/mannschaft/card";
@import "../components/screens/termine/card";
@import "../components/screens/notruf/index";
@import "../components/screens/einsätze/style";

.head_image {
  width: 100%;
  min-height: 30vh;
  background-color: #2b2b2b;
}

p {
  font-size: 15px;
  @include respond-to($medium) {
    font-size: 20px;
  }
}
